* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 50px;
    background-color: lightsalmon; /*debug*/
}
.row {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 45%;
    height: 580px; /*debug*/
    margin: 20px auto;
    background-color: lightgoldenrodyellow; /*debug*/
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: #bacdd9;
    border: 1px solid black; /*debug*/
}
.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.expert {
    width: calc(100% / 7);
    height: calc(100% / 7);
}